body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* Background settings */
    background-image: url('triangles-1430105_1920.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff; 
}


#clock {
    font-size: 8rem;
    font-weight: bold;
}
